aclocal.m4
autom4te.cache
config.log
config.status
exampleProgram/.deps/
exampleProgram/exampleProgram
exampleProgram/.libs/
exampleProgram/Makefile
include/Makefile
libstomp/.deps/
libstomp/.libs/
libstomp/Makefile
libtool
Makefile
stamp-h1
*.a
*.la
*.lai
*.lo
*.o
*.so

TestProgram/\.deps/

TestProgram/test_stomp

TestProgram/\.libs/test_stomp
